
header{
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border-radius: 10px 100px / 120px;
    font: bold italic 1.2em "Fira Sans", serif;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
   background-color: rgb(61, 133, 151);
    padding: 64px 15px;
    
    height: 50px;
}


input[type=text], input[type=email],input[type=tel],input[type=date], textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  input[type=range]{
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    margin-left: 45%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  .container {
    border-radius: 5px;
    
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}

nav {
    border-bottom: 1px solid rgb(60, 108, 146);
    width:100%;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(60, 108, 146);
}

.navigation {
    float: left;
}

.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigation a:hover {
    background-color: #111;
  }
  
h2 {
    margin: 0;
} 

.tracks {
    width: 72%;
    margin: 0;
    padding: 0.3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
}

.tracks > h1,
.track {
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 1.2rem;
}

.track {
    background: right/contain content-box border-box no-repeat url('/media/examples/rain.svg') white;
}

.track > h2,
.track > p {
    margin: 0.2rem;
    font-size: 1rem;
}


aside {
    width: 25%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #090b0c;
    
}

aside > p {
    margin: 0.5rem;
}
